body{
    position: relative;
}

.Navbar {
    background-color:#5f5f5f;
    height:3em;
}

.Navbar .lists {
    padding-top: 0.87em;
    padding-bottom: 0.87em;
}


.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
}



#modal {
    display: none; 
    position: fixed; 
    z-index: 12; 
    padding-top: 17vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
}

#imgSrc, #videoSrc {
    margin: auto;
    display: block;
    width: 80%;
    height: 75%;
    max-width: 700px;
}


.Introduction {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}


.MyBio {
    padding-top: 1em;
}

.MyImage {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 45vh;
}

.MyImage img {
    width: 100%;
    height: 100%;
    border-radius: 5em;
}

.ImageArea, .VideoArea {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.ImageArea > div, .VideoArea > div {
    border: 5px solid rgba(164,153,163,0.54);
    height: 28vh;
    text-align: center;
    position: relative;
}

.ImageArea > div > img, .VideoArea > div > iframe {
    width: 95%;
    height: 95%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    object-fit: fill;
}


.Navbar span {
    color: white;
    text-decoration: none;
    font-size: 110%;
    display: inline;
    padding-right: 1.2em;
    padding-left: 1.2em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

.active-page {
    background-color: rgb(9, 202, 57);
    padding: 0.70em;
    opacity: 0.8;
    font-weight: bold;
}

span:hover {
    background-color: #e4000070;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}



.lcol {
    width: 8em;
}

.Introduction, .ImageArea, .VideoArea, .TableArea, .EmailArea {
    padding-top: 1.6em;
    padding-left: 1em;
}
